body {
    font-family: sans-serif;
    margin-left:5px;
}

a {
    color: black;
    text-decoration: none;
    font-weight:bold;
  }
  
a:hover {
    color: black;
    text-decoration: underline;
    font-weight:bold;
}

a:visited {
    color: black;
    text-decoration: none;
    font-weight:bold;
}